##

for a in `ls -1 tif_sources/*.tif`; do python3 gdal_edit.py -unsetnodata $a; done

## Land - water

create materialized view landpolygons as select (st_dump(geom)).geom from land;
create index on landpolygons using gist (geom);

CREATE TABLE water_etsimila (
    id SERIAL,
    geom geometry(MultiPolygon,4326),
    type varchar(200)
);
CREATE INDEX ON water_etsimila (type);
CREATE INDEX ON water_etsimila using gist (geom);

INSERT INTO water_etsimila (geom, type) (SELECT ST_Force2D(geom), 'lakes' FROM lakes);

## Grids

CREATE OR REPLACE FUNCTION ST_CreateFishnet(
        nrow integer, ncol integer,
        xsize float, ysize float,
        x0 float DEFAULT 0, y0 float DEFAULT 0,
        OUT "row" integer, OUT col integer,
        OUT geom geometry)
    RETURNS SETOF record AS
$$
SELECT i + 1 AS row, j + 1 AS col, ST_Translate(cell, j * $3 + $5, i * $4 + $6) AS geom
FROM generate_series(0, $1 - 1) AS i,
     generate_series(0, $2 - 1) AS j,
(
SELECT ('POLYGON((0 0, 0 '||$4||', '||$3||' '||$4||', '||$3||' 0,0 0))')::geometry AS cell
) AS foo;
$$ LANGUAGE sql IMMUTABLE STRICT;

CREATE TABLE tiles (tileid serial, type text, parent_type text, geom geometry(MultiPolygon,4326), PRIMARY KEY(tileid));
CREATE INDEX ON tiles (type);
CREATE INDEX ON tiles (parent_type);
CREATE INDEX ON tiles using gist (geom);
CLUSTER tiles USING tiles_geom_idx;

In [31]:
pixel_size = 16*0.500085924269#0.000089830415712
p = 0
i = 0
minx = -175.0002673
maxx = 180
while p<(abs(minx)+maxx) and p+minx < maxx-pixel_size:
    i += 1
    p += pixel_size
print(i, p+minx)

p = 0
i = 0
miny = -56.0007209
maxy = 75.02179125847826
while p<(abs(miny)+maxy) and p+miny < maxy-pixel_size:
    i += 1
    p += pixel_size
print(i, p+miny)

44 177.06022338537613
16 72.02127571286402

INSERT INTO tiles (type, parent_type, geom) SELECT 'tile05', 'tile1', ST_SetSRID(st_multi(geom), 4326) FROM ST_CreateFishnet(262, 708, 0.500085924269, 0.500085924269, -175.0002673, -56.0007209) AS cells;

INSERT INTO tiles (type, parent_type, geom) SELECT 'tile1', 'tile2', ST_SetSRID(st_multi(geom), 4326) FROM ST_CreateFishnet(131, 354, 0.500085924269*2, 0.500085924269*2, -175.0002673, -56.0007209) AS cells;

INSERT INTO tiles (type, parent_type, geom) SELECT 'tile2', 'tile4', ST_SetSRID(st_multi(geom), 4326) FROM ST_CreateFishnet(66, 177, 0.500085924269*4, 0.500085924269*4, -175.0002673, -56.0007209) AS cells;

INSERT INTO tiles (type, parent_type, geom) SELECT 'tile4', 'tile8', ST_SetSRID(st_multi(geom), 4326) FROM ST_CreateFishnet(33, 89, 0.500085924269*8, 0.500085924269*8, -175.0002673, -56.0007209) AS cells;

INSERT INTO tiles (type, parent_type, geom) SELECT 'tile8', 'tileglobal', ST_SetSRID(st_multi(geom), 4326) FROM ST_CreateFishnet(17, 45, 0.500085924269*16, 0.500085924269*16, -175.0002673, -56.0007209) AS cells;

INSERT INTO tiles (type, parent_type, geom) SELECT 'tileglobal', 'god', st_multi(ST_Buffer(st_setsrid(ST_Extent(geom)::geometry, 4326), 0.001)) as geom FROM tiles WHERE type='tile05';

UPDATE tiles AS t SET geom=ST_Multi(ST_Intersection(t.geom, (SELECT ST_MakeEnvelope(150, ST_YMin(geom), ST_XMax(geom), ST_YMax(geom), 4326) FROM (select ST_Extent(geom) as geom FROM tiles WHERE type='tile05' ) a))) 
WHERE st_xmax(Box2D(t.geom)) > 170 AND t.type IN ('tile4', 'tile8');

UPDATE tiles AS t SET geom=ST_Multi(ST_Intersection(t.geom, (SELECT ST_MakeEnvelope(ST_XMin(geom), 50, ST_XMax(geom), ST_YMax(geom), 4326) FROM (select ST_Extent(geom) as geom FROM tiles WHERE type='tile05' ) a)))
WHERE st_ymax(Box2D(t.geom)) > 70 AND t.type IN ('tile4', 'tile8');


UPDATE tiles AS t05 SET geom=(CASE 
                       WHEN ST_CoveredBy(t05.geom, t1.geom) 
                       THEN t05.geom 
                       ELSE ST_Multi(ST_Intersection(t05.geom, t1.geom)) END)
FROM tiles AS t1
WHERE ST_Intersects(t05.geom, t1.geom) AND (NOT ST_Touches(t05.geom, t1.geom)) AND t05.type='tile4' AND t1.type='tile8' AND ST_AREA(ST_Intersection(t05.geom, t1.geom))/ST_AREA(t05.geom)::float > 0.5;

UPDATE tiles AS t05 SET geom=(CASE 
                       WHEN ST_CoveredBy(t05.geom, t1.geom) 
                       THEN t05.geom 
                       ELSE ST_Multi(ST_Intersection(t05.geom, t1.geom)) END)
FROM tiles AS t1
WHERE ST_Intersects(t05.geom, t1.geom) AND (NOT ST_Touches(t05.geom, t1.geom)) AND t05.type='tile2' AND t1.type='tile4' AND ST_AREA(ST_Intersection(t05.geom, t1.geom))/ST_AREA(t05.geom)::float > 0.5;


UPDATE tiles AS t05 SET geom=(CASE 
                       WHEN ST_CoveredBy(t05.geom, t1.geom) 
                       THEN t05.geom 
                       ELSE ST_Multi(ST_Intersection(t05.geom, t1.geom)) END)
FROM tiles AS t1
WHERE ST_Intersects(t05.geom, t1.geom) AND (NOT ST_Touches(t05.geom, t1.geom)) AND t05.type='tile1' AND t1.type='tile2' AND ST_AREA(ST_Intersection(t05.geom, t1.geom))/ST_AREA(t05.geom)::float > 0.5;


UPDATE tiles AS t05 SET geom=(CASE 
                       WHEN ST_CoveredBy(t05.geom, t1.geom) 
                       THEN t05.geom 
                       ELSE ST_Multi(ST_Intersection(t05.geom, t1.geom)) END)
FROM tiles AS t1
WHERE ST_Intersects(t05.geom, t1.geom) AND (NOT ST_Touches(t05.geom, t1.geom)) AND t05.type='tile05' AND t1.type='tile1' AND ST_AREA(ST_Intersection(t05.geom, t1.geom))/ST_AREA(t05.geom)::float > 0.5;

CREATE MATERIALIZED VIEW tiles_map_contains AS
select tup.tileid as tup_tileid, tup.type as tup_type, tlow.tileid as tlow_tileid, tlow.type as tlow_type 
FROM tiles tup
INNER JOIN tiles tlow on st_contains(tup.geom, tlow.geom) and tlow.parent_type=tup.type;
CREATE INDEX ON tiles_map_contains (tup_tileid);
CREATE INDEX ON tiles_map_contains (tup_type);
CREATE INDEX ON tiles_map_contains (tlow_tileid);
CREATE INDEX ON tiles_map_contains (tlow_type);

CREATE MATERIALIZED VIEW tiles_land AS (
WITH RECURSIVE tiles_landrecursive AS (
    SELECT t.tileid, t.type, t.parent_type, t.geom, (CASE 
                       WHEN ST_CoveredBy(t.geom, ST_Union(l.geom)) 
                       THEN t.geom 
                       ELSE ST_Multi(ST_Intersection(t.geom,ST_Union(l.geom))) END) as tile_real_geom
    FROM tiles t
    INNER JOIN dumped_macro l ON ST_Intersects(l.geom, t.geom) AND NOT ST_Touches(l.geom, t.geom) 
    WHERE t.type=(select max(type) from tiles)
    GROUP BY t.tileid, t.type, t.parent_type, t.geom
UNION ALL
    SELECT tmap.tlow_tileid as tileid, tmap.tlow_type as type, tmap.tup_type as parent_type, t2.geom, ST_Multi(ST_Intersection(t2.geom,c.tile_real_geom)) as tile_real_geom
    FROM tiles_map_contains tmap
    INNER JOIN tiles_landrecursive c ON c.tileid = tmap.tup_tileid AND c.type = tmap.tup_type 
    INNER JOIN tiles t2 ON t2.tileid=tmap.tlow_tileid AND t2.type = tmap.tlow_type
)
SELECT t.*, (COALESCE(ST_AREA(t.tile_real_geom::geography), 0.0)/1000000.0)::NUMERIC(15,6) as tile_km2
FROM tiles_landrecursive t
WHERE NOT ST_IsEmpty(t.tile_real_geom)
);
CREATE INDEX ON tiles_land using gist (geom);
CREATE INDEX ON tiles_land using gist (tile_real_geom);
CREATE INDEX ON tiles_land (type);
CREATE INDEX ON tiles_land (parent_type);
CREATE INDEX ON tiles_land (tileid);
CLUSTER tiles_land USING tiles_land_geom_idx;

CREATE MATERIALIZED VIEW tiles_boundaries AS
SELECT tileid, type, parent_type, st_buffer(ST_Boundary(geom)::geography, 5)::geometry AS geom
FROM tiles_land;
CREATE INDEX ON tiles_boundaries using gist (geom);
CREATE INDEX ON tiles_boundaries (type);
CREATE INDEX ON tiles_boundaries (parent_type);
CLUSTER tiles_boundaries USING tiles_boundaries_geom_idx;

CREATE MATERIALIZED VIEW tiles_diagonals AS
select (st_dump(st_split(a.geom, ST_Rotate(diag_geom, pi()/2, st_centroid(diag_geom))))).geom, a.parent_type, tileid
FROM (
    SELECT (st_dump(st_split(t.geom, diag_geom))).geom, diag_geom, parent_type, tileid
    FROM (
        SELECT t1.tileid, t1.type, parent_type, t1.geom, ST_BoundingDiagonal(t1.geom, true) as diag_geom
        FROM tiles_boundaries t1
    ) t
) a;
create index on tiles_diagonals using gist (geom);

CREATE MATERIALIZED VIEW tiles_inner_borders AS
SELECT parent_tileid, parent_type, geom, array_agg(tlow_tileid) as tlow_tileids
FROM (
    select t.tileid as parent_tileid, a.parent_type, ST_UNION(a.geom) as geom
    from tiles_diagonals a
    inner join tiles_land t on a.parent_type=t.type AND st_intersects(ST_Centroid(t.geom), a.geom)
    GROUP BY parent_tileid, a.parent_type
) outside 
INNER JOIN tiles_map_contains tmap ON outside.parent_tileid = tmap.tup_tileid AND outside.parent_type=tmap.tup_type
GROUP BY parent_tileid, parent_type, geom;
CREATE INDEX ON tiles_inner_borders using gist (geom);
CREATE INDEX ON tiles_inner_borders (parent_type);
CREATE INDEX ON tiles_inner_borders (parent_tileid);
CREATE INDEX ON tiles_inner_borders USING GIN (tlow_tileids);

CLUSTER tiles_inner_borders USING tiles_inner_borders_geom_idx;

Reference terrain (steep parts) + sum km^2 for water

CREATE MATERIALIZED VIEW tiles_cannoturban AS (
WITH RECURSIVE tiles_cannoturban_recursive AS (
    SELECT t.tileid, t.type, SUM((ST_Area((CASE 
                       WHEN ST_CoveredBy(w.geom, t.tile_real_geom) 
                       THEN w.geom 
                       ELSE ST_Multi(ST_Intersection(w.geom, t.tile_real_geom)) END)::geography)/1000000.0)::NUMERIC(13,6)) as noland_km2 
    FROM water_etsimila w
    INNER JOIN tiles_land t ON ST_Intersects(w.geom, t.tile_real_geom) AND NOT ST_Touches(w.geom, t.tile_real_geom)
    WHERE t.type='tile05'
    GROUP BY t.tileid, t.type
UNION ALL
    SELECT tmap.tup_tileid as tileid, tmap.tup_type as type, c.noland_km2::NUMERIC(13,6)
    FROM tiles_map_contains tmap
    INNER JOIN tiles_cannoturban_recursive c ON c.tileid = tmap.tlow_tileid AND c.type = tmap.tlow_type 
)
SELECT t.tileid, t.type, SUM(noland_km2::NUMERIC(13,6)) as noland_km2
FROM tiles_cannoturban_recursive t
GROUP BY t.tileid, t.type
);
CREATE INDEX ON tiles_cannoturban (tileid, type);
CREATE INDEX ON tiles_cannoturban (tileid);
CREATE INDEX ON tiles_cannoturban (type);

CREATE MATERIALIZED VIEW tiles_coarse_water AS (
SELECT t.tileid, t.type, ST_Union((CASE 
                       WHEN ST_CoveredBy(w.geom, t.geom) 
                       THEN w.geom 
                       ELSE ST_Multi(ST_Intersection(w.geom, t.geom)) END)) as geom
FROM water_etsimila w
INNER JOIN tiles_land t ON ST_Intersects(w.geom, t.geom) AND NOT ST_Touches(w.geom, t.geom)
WHERE t.type='tile1' OR t.type='tile05'
GROUP BY t.tileid, t.type
);
CREATE INDEX ON tiles_coarse_water (tileid);
CREATE INDEX ON tiles_coarse_water (type);

#### Terrain and unused lands

CREATE TABLE steep_areas_05x05 AS
SELECT SUM((ST_AREA(geom::geography)/1000000.0)::NUMERIC(13,6)) as steep_area_km2, tileid
FROM (
    SELECT wkb_geometry as geom, t.tileid
    FROM terrain_gp w
    INNER JOIN tiles_land t ON ST_CONTAINS(t.tile_real_geom, w.wkb_geometry) 
    WHERE t.type = 'tile05'
    
    UNION ALL

    select geom, tileid from(
        SELECT
          geom, tileid, ROW_NUMBER() OVER (PARTITION BY gid ORDER BY area DESC) AS r
        from (
            select c.ogc_fid as gid, c.wkb_geometry as geom, a.tileid, ST_Area(ST_Intersection(c.wkb_geometry,a.geom)) as area
            from terrain_gp as c 
            inner join tiles_land as a on ST_Intersects(a.tile_real_geom, c.wkb_geometry) AND NOT ST_CONTAINS(a.tile_real_geom, c.wkb_geometry)
            WHERE a.type = 'tile05'
        ) as dtable
    ) x
    WHERE x.r = 1

) outside_query
GROUP BY tileid;
CREATE INDEX ON steep_areas_05x05 (tileid);

CREATE TABLE tiles_steep AS (
WITH RECURSIVE terrainrecursive AS (
    SELECT t.tileid, 'tile05' as type, steep_area_km2::NUMERIC(13,6) as steep_km2
    FROM steep_areas_05x05 t
UNION ALL
    SELECT tmap.tup_tileid as tileid, tmap.tup_type as type, c.steep_km2::NUMERIC(13,6)
    FROM tiles_map_contains tmap
    INNER JOIN terrainrecursive c ON c.tileid = tmap.tlow_tileid AND c.type = tmap.tlow_type 
)
SELECT t.tileid, t.type, SUM(steep_km2::NUMERIC(13,6)) as steep_km2
FROM terrainrecursive t
GROUP BY t.tileid, t.type
);
CREATE INDEX ON tiles_steep (tileid);
CREATE INDEX ON tiles_steep (type);

### Macro areas

UPDATE final_marcoii SET wkb_geometry=ST_SimplifyPreserveTopology(wkb_geometry, 0.0005);

CREATE MATERIALIZED VIEW dumped_macro AS
SELECT macro, (ST_Dump(wkb_geometry)).geom as geom
FROM final_marcoii
WHERE macro IS NOT NULL;
CREATE INDEX ON dumped_macro (macro);
CREATE INDEX ON dumped_macro USING GIST (geom);

CREATE MATERIALIZED VIEW tiles_macros AS (
WITH RECURSIVE tiles_macros_recursive AS (
    SELECT m.macro, t.tileid, t.type
    FROM tiles_land t 
    INNER JOIN dumped_macro m ON ST_Intersects(t.geom, m.geom) AND NOT ST_Touches(t.geom, m.geom)
    WHERE t.type='tile05'
UNION ALL
    SELECT c.macro, tmap.tup_tileid as tileid, tmap.tup_type as type
    FROM tiles_map_contains tmap
    INNER JOIN tiles_macros_recursive c ON c.tileid = tmap.tlow_tileid AND c.type = tmap.tlow_type
)
SELECT DISTINCT macro, tileid, type
FROM tiles_macros_recursive
);
CREATE INDEX ON tiles_macros (macro);
CREATE INDEX ON tiles_macros (tileid);
CREATE INDEX ON tiles_macros (type);

CREATE MATERIALIZED VIEW tiles_in_macro AS (
WITH tiles_n_macros AS (
    SELECT t.tileid, t.type, CASE WHEN COUNT(DISTINCT macro) = 1 THEN 1 ELSE 0 END as has_one_macro
    FROM tiles_macros t
    GROUP BY t.tileid, t.type) 
(SELECT array_agg(t.tileid) as tileids, t.type, t.macro, has_one_macro
FROM tiles_macros t 
INNER JOIN tiles_n_macros m ON m.tileid = t.tileid AND m.type = t.type
WHERE has_one_macro = 1
GROUP BY t.macro, t.type, has_one_macro)

UNION ALL

(SELECT array_agg(t.tileid) as tileids, t.type, NULL, has_one_macro
FROM tiles_macros t 
INNER JOIN tiles_n_macros m ON m.tileid = t.tileid AND m.type = t.type
WHERE has_one_macro = 0
GROUP BY t.type, has_one_macro)

);
CREATE INDEX ON tiles_in_macro USING GIN (tileids);
CREATE INDEX ON tiles_in_macro (type);
CREATE INDEX ON tiles_in_macro (has_one_macro);

CREATE MATERIALIZED VIEW tiles_macros_geom AS
SELECT tileid, type, macro, tile_macro_geom, has_one_macro, (ST_AREA(tile_macro_geom::geography)/1000000)::NUMERIC(15,6) as tile_km2
FROM (
    SELECT tileid, tl.type, m.macro, ST_Multi(ST_Intersection(m.wkb_geometry, tl.tile_real_geom)) as tile_macro_geom, tm.has_one_macro
    FROM tiles_land tl 
    INNER JOIN tiles_in_macro tm ON tl.tileid = ANY(tm.tileids) AND tm.type = tl.type
    INNER JOIN final_marcoii m ON ST_Intersects(tl.geom, m.wkb_geometry)
    WHERE has_one_macro = 0 AND tl.type NOT IN ('tile4', 'tile8', 'global')
) multiples

UNION ALL

SELECT tileid, tl.type, tm.macro, tl.tile_real_geom as tile_macro_geom, tm.has_one_macro, tl.tile_km2
FROM tiles_land tl 
INNER JOIN tiles_in_macro tm ON tl.tileid = ANY(tm.tileids) AND tm.type = tl.type
WHERE tm.has_one_macro = 1 AND tl.type NOT IN ('tile4', 'tile8', 'global')

;
CREATE INDEX ON tiles_macros_geom (tileid);
CREATE INDEX ON tiles_macros_geom (type);
CREATE INDEX ON tiles_macros_geom (macro);
CREATE INDEX ON tiles_macros_geom (has_one_macro);
CREATE INDEX ON tiles_macros_geom USING GIST (tile_macro_geom);

CREATE MATERIALIZED VIEW macro_tiles_steep AS
SELECT macro, tileid, type, SUM(steep_km2::NUMERIC(15,6)) as steep_km2
FROM (
    SELECT t.tileid, ts.type, ts.macro, steep_km2
    FROM tiles_steep t
    INNER JOIN tiles_in_macro ts ON t.tileid = ANY(ts.tileids) AND ts.type=t.type
    WHERE ts.has_one_macro = 1

    UNION ALL

    SELECT m.tileid, m.type, m.macro, SUM((ST_AREA(t.wkb_geometry::geography)/1000000.0)::NUMERIC(13,6)) as steep_km2
    FROM terrain_gp t 
    INNER JOIN tiles_macros_geom m ON ST_CoveredBy(t.wkb_geometry, m.tile_macro_geom)
    WHERE m.has_one_macro = 0
    GROUP BY m.tileid, m.type, m.macro
) temp
GROUP BY tileid, type, macro;
CREATE INDEX ON macro_tiles_steep (macro);
CREATE INDEX ON macro_tiles_steep (tileid);
CREATE INDEX ON macro_tiles_steep (type);

CREATE MATERIALIZED VIEW macro_tiles_cannoturban AS (
WITH RECURSIVE macro_tiles_cannoturban_recursive AS (
    (
        SELECT t.macro, tileid, t.type, noland_km2
        FROM tiles_cannoturban c
        INNER JOIN tiles_in_macro t ON c.tileid = ANY(t.tileids) AND t.type = c.type
        WHERE t.has_one_macro = 1 AND c.type = 'tile05'

    UNION ALL

        SELECT t.macro, t.tileid, t.type, (SUM(ST_AREA(ST_Multi(ST_Intersection(w.geom, t.tile_macro_geom))::geography))/1000000.0)::NUMERIC(13,6) as noland_km2 
        FROM water_etsimila w
        INNER JOIN tiles_macros_geom t ON ST_Intersects(w.geom, t.tile_macro_geom) AND NOT ST_Touches(w.geom, t.tile_macro_geom)
        WHERE t.type = 'tile05' AND t.has_one_macro = 0
        GROUP BY t.macro, t.type, t.tileid
    )
UNION ALL
    SELECT c.macro, tmap.tup_tileid as tileid, tmap.tup_type as type, c.noland_km2::NUMERIC(13,6)
    FROM tiles_map_contains tmap
    INNER JOIN macro_tiles_cannoturban_recursive c ON c.tileid = tmap.tlow_tileid AND c.type = tmap.tlow_type 
)
SELECT t.macro, t.tileid, t.type, SUM(noland_km2::NUMERIC(13,6)) as noland_km2
FROM macro_tiles_cannoturban_recursive t
GROUP BY t.macro, t.tileid, t.type
);
CREATE INDEX ON macro_tiles_cannoturban (macro);
CREATE INDEX ON macro_tiles_cannoturban (tileid);
CREATE INDEX ON macro_tiles_cannoturban (type);

## Urban areas

CREATE TABLE urban_areas (
    gid SERIAL, 
    geom geometry(Polygon,4326),
    urban_area_km2 numeric(13,6),
    PRIMARY KEY(gid));
CREATE INDEX ON urban_areas USING GIST (geom);
CREATE INDEX ON urban_areas USING hash (gid);

CREATE TABLE urban_areas_tiles (
    gid integer, 
    tileid integer, 
    type text,
    PRIMARY KEY(gid,type));
CREATE INDEX ON urban_areas_tiles (tileid);
CREATE INDEX ON urban_areas_tiles USING hash (tileid);
CREATE index ON urban_areas_tiles USING BRIN (type);
CREATE INDEX ON urban_areas_tiles USING hash (gid);

CREATE VIEW urban_areas_view AS
SELECT u.gid, u.geom, u.urban_area_km2, t.tileid, t.type
FROM urban_areas u
INNER JOIN urban_areas_tiles t ON t.gid=u.gid;

## 1- Queries

Query for all the areas contains. For the areas intersecting but not contained, we arbitrarily choose one tile.

DROP index urban_areas_geom_idx;

INSERT INTO urban_areas (gid, geom, urban_area_km2)
SELECT ogc_fid as gid, wkb_geometry as geom, (ST_AREA(wkb_geometry::geography)/1000000.0)::NUMERIC(13,6)
FROM world075_gp w;

CREATE INDEX ON urban_areas USING GIST (geom);

drop some artifacts (vertical and horizontal lines)

DELETE FROM urban_areas
WHERE (abs(ST_YMax(geom)-ST_YMin(geom)) >= 0.0005 AND abs(ST_XMax(geom)-ST_XMin(geom)) <= 9.08304157104235e-05)
OR (abs(ST_XMax(geom)-ST_XMin(geom)) >= 0.0005 AND abs(ST_YMax(geom)-ST_YMin(geom)) <= 9.08304157104235e-05);

DELETE FROM urban_areas
WHERE gid IN (SELECT gid                                                      
FROM (SELECT gid, geom, ST_Extent(geom) as extent from urban_areas GROUP BY gid, geom) as tmp
WHERE 
(abs(ST_XMax(extent)-ST_XMin(extent)) > 0.45 AND abs(ST_YMax(extent)-ST_YMin(extent)) < 0.1)
OR 
(abs(ST_YMax(extent)-ST_YMin(extent)) > 0.45 AND abs(ST_XMax(extent)-ST_XMin(extent)) < 0.1));

create materialized view oversize20192 as 
SELECT a.gid, COUNT(*) as c
FROM (SELECT geom, gid, tileid, ST_XMax(ST_Extent(i.geom)) as xmax, ST_XMin(ST_Extent(i.geom)) as xmin FROM urban_areas_view i WHERE abs(ST_XMax(i.geom)-ST_XMin(i.geom)) <= 9.08304157104235e-05 GROUP BY tileid, gid, geom) a
INNER JOIN (select gid, tileid, ST_XMax(ST_Extent(u.geom)) as xmax, ST_XMin(ST_Extent(u.geom)) as xmin 
FROM urban_areas_view u GROUP BY tileid, gid, geom) b ON b.xmax = a.xmax AND b.xmin = a.xmin AND a.gid != b.gid AND a.tileid = b.tileid
GROUP BY a.gid
HAVING COUNT(*) > 10;

create materialized view oversize20193 as 
SELECT a.gid, COUNT(*) as c
FROM (SELECT geom, gid, tileid, ST_YMax(ST_Extent(i.geom)) as ymax, ST_YMin(ST_Extent(i.geom)) as ymin FROM urban_areas_view i WHERE abs(ST_YMax(i.geom)-ST_YMin(i.geom)) <= 9.08304157104235e-05 GROUP BY tileid, gid, geom) a
INNER JOIN (select gid, tileid, ST_YMax(ST_Extent(u.geom)) as ymax, ST_YMin(ST_Extent(u.geom)) as ymin 
FROM urban_areas_view u GROUP BY tileid, gid, geom) b ON b.ymax = a.ymax AND b.ymin = a.ymin AND a.gid != b.gid AND a.tileid = b.tileid
GROUP BY a.gid
HAVING COUNT(*) > 10;

DELETE FROM urban_areas WHERE gid IN (SELECT gid FROM oversize20192 WHERE c >= 20);
DELETE FROM urban_areas WHERE gid IN (SELECT gid FROM oversize20193 WHERE c >= 20);

INSERT INTO urban_areas_tiles (gid, tileid, type) 
SELECT gid, tileid, 'tile05'
FROM (
    SELECT gid, t.tileid
    FROM urban_areas w
    INNER JOIN tiles_land t ON ST_CONTAINS(t.tile_real_geom, w.geom) 
    WHERE t.type = 'tile05'
    
    UNION ALL

    select gid, tileid from(
        SELECT
          gid, geom, tileid, ROW_NUMBER() OVER (PARTITION BY gid ORDER BY area DESC) AS r
        from (
            select c.gid, c.geom as geom, a.tileid, ST_Area(ST_Intersection(c.geom, a.geom)) as area
            from urban_areas as c 
            inner join tiles_land as a on ST_Intersects(a.tile_real_geom, c.geom) AND NOT ST_CONTAINS(a.tile_real_geom, c.geom)
            WHERE a.type = 'tile05'
        ) as dtable
        order by area
    ) x
    WHERE x.r = 1
) outside_query;

### Tiles > upper-tiles > global

CREATE TABLE buffer_upgrade (geom geometry(Polygon,4326), urban_area_km2 numeric(13,6), tileid integer);
CREATE INDEX ON buffer_upgrade (urban_area_km2);
CREATE INDEX ON buffer_upgrade USING GIST (geom);

CREATE TABLE tiles_upgrade_areas (gid integer, geom geometry(Polygon,4326), tileid integer);
CREATE INDEX ON tiles_upgrade_areas USING hash (gid);
CREATE INDEX ON tiles_upgrade_areas (tileid);
CREATE INDEX ON tiles_upgrade_areas USING hash (tileid);
CREATE INDEX ON tiles_upgrade_areas USING gist (geom);

CREATE TABLE tiles_upgrade_areas_tounion (gid integer, geom geometry(Polygon,4326), tileid integer, has_neighbours boolean);
CREATE INDEX ON tiles_upgrade_areas_tounion (has_neighbours) WHERE (has_neighbours = 'f');
CREATE INDEX ON tiles_upgrade_areas_tounion (has_neighbours) WHERE (has_neighbours = 't');
CREATE INDEX ON tiles_upgrade_areas_tounion USING hash (gid);
CREATE INDEX ON tiles_upgrade_areas_tounion USING hash (tileid);
CREATE INDEX ON tiles_upgrade_areas_tounion (tileid);
CREATE INDEX ON tiles_upgrade_areas_tounion using gist (geom);

### tiles upgrades

>> bash tiles_upgrade.sh 05 1

>> bash tiles_upgrade.sh 1 2

>> bash tiles_upgrade.sh 2 4

>> bash tiles_upgrade.sh 4 8

In [ ]:
INSERT INTO tiles_upgrade_areas (gid, geom, tileid)
        SELECT gid, geom, tileid
        FROM (
                SELECT g.gid, g.geom, globaltile.tileid
                FROM urban_areas_view g
                INNER JOIN tiles_boundaries b ON ST_INTERSECTS(b.geom, g.geom)
                INNER JOIN tiles_land globaltile ON ST_Contains(globaltile.geom, b.geom)
                WHERE b.parent_type = 'tileglobal' AND g.type='tile8' and globaltile.type = b.parent_type
        ) tilestable;

In [ ]:
INSERT INTO tiles_upgrade_areas_tounion (gid, geom, tileid, has_neighbours)
        SELECT g.gid, g.geom, g.tileid,  EXISTS (
                    SELECT * from tiles_upgrade_areas g2 WHERE g.gid <> g2.gid AND g.tileid = g2.tileid
                    AND ST_Dwithin(g.geom, g2.geom, 0.00001)) as has_neighbours
        FROM tiles_upgrade_areas g;

INSERT INTO buffer_upgrade (SELECT u.geom, (ST_AREA(u.geom::geography)/1000000)::NUMERIC(13,6) as urban_area_km2, 247257 FROM (SELECT (ST_Dump(cluster_geom)).geom FROM (SELECT cid, ST_Buffer(ST_union(geom), -0.00001) AS cluster_geom FROM (SELECT ST_Buffer(geom, 0.00001) as geom, ST_ClusterDBSCAN(geom, 0.00001, 2) over () AS cid FROM tiles_areas_global_from_8x8_tounion g WHERE g.has_neighbours = 't') sq GROUP BY cid) cluster) u);

INSERT INTO buffer_upgrade (SELECT u.geom, (ST_AREA(u.geom::geography)/1000000)::NUMERIC(13,6) as urban_area_km2, u.tileid FROM (SELECT tileid, (ST_Dump(cluster_geom)).geom FROM (SELECT tileid, cid, ST_Buffer(ST_union(geom), -0.00001) AS cluster_geom FROM (SELECT tileid, ST_Buffer(geom, 0.00001) as geom, ST_ClusterDBSCAN(geom, 0.00001, 2) over (PARTITION BY tileid) AS cid FROM tiles_upgrade_areas_tounion g WHERE g.has_neighbours = 't') sq GROUP BY tileid, cid) cluster) u);

#### global

In [ ]:
INSERT INTO urban_areas_tiles (gid, tileid, type)
        SELECT g.gid, 247257, 'tileglobal'
        FROM urban_areas_view g
        WHERE g.type = 'tile8' AND
        (NOT EXISTS (SELECT * FROM tiles_areas_global_from_8x8_tounion b WHERE g.gid = b.gid AND has_neighbours = 't'));


        WITH ins1 AS (
            INSERT INTO urban_areas (geom, urban_area_km2)
            SELECT geom, urban_area_km2
            FROM buffer_upgrade
            RETURNING gid, geom, urban_area_km2
           )
        INSERT INTO urban_areas_tiles (gid, tileid, type)
        SELECT gid, tileid, 'tileglobal'
        FROM ins1
        INNER JOIN buffer_upgrade t ON ins1.urban_area_km2 = t.urban_area_km2 AND st_DWithin(ins1.geom, t.geom,0) AND ST_CENTROID(ins1.geom) = ST_centroid(t.geom);

INSERT INTO tiles_upgrade_areas (gid, geom, tileid)
SELECT gid, geom, (SELECT tileid from tiles where type = 'tileglobal')
FROM (
        SELECT g.gid, g.geom
        FROM urban_areas_view g 
        WHERE EXISTS (SELECT * FROM tiles_boundaries b WHERE ST_INTERSECTS(b.geom, g.geom) AND b.parent_type = 'tileglobal') AND g.type='tile8'
) tilestable;

CREATE MATERIALIZED VIEW tiles_areas_global_from_8x8_tounion AS
SELECT g.gid, g.geom, EXISTS (
            SELECT * from tiles_upgrade_areas g2 WHERE g.gid <> g2.gid 
            AND ST_Dwithin(g.geom, g2.geom, 0.00001)) as has_neighbours
FROM tiles_upgrade_areas g;

>> bash tiles_upgrade.sh 8 tileglobal

In [ ]:
INSERT INTO urban_areas_tiles (gid, tileid, type) 
SELECT g.gid, 247257, 'tileglobal'
FROM urban_areas_view g
WHERE g.type = 'tile8' AND 
(NOT EXISTS (SELECT * FROM tiles_areas_global_from_8x8_tounion b WHERE g.gid = b.gid AND has_neighbours = 't'));

INSERT INTO urban_areas_tiles (gid, tileid, type) 
SELECT g.gid, tmap.tup_tileid as tileid, tmap.tup_type
FROM urban_areas_view g
INNER JOIN tiles_map_contains tmap ON tmap.tlow_tileid = g.tileid
WHERE g.type = 'tile8' AND 
(NOT EXISTS (SELECT * FROM tiles_areas_global_from_8x8_tounion b WHERE g.gid = b.gid AND has_neighbours = 't'));


WITH ins1 AS (
    INSERT INTO urban_areas (geom, urban_area_km2)
    SELECT geom, urban_area_km2
    FROM buffer_upgrade
    RETURNING gid, geom, urban_area_km2
   )
INSERT INTO urban_areas_tiles (gid, tileid, type) 
SELECT gid, (select tileid from tiles where type='tileglobal'), 'tileglobal'
FROM ins1;

### Macro

CREATE MATERIALIZED VIEW macro_urban_areas_05x05 AS
SELECT macro, tileid, SUM(urban_area_km2::NUMERIC(13,6)) as urban_area_km2, SUM(urban_areas_num) as urban_areas_num
FROM (
    SELECT u.tileid, t.macro, SUM(COALESCE(urban_area_km2, 0)::NUMERIC(13,6)) as urban_area_km2, COUNT(*) as urban_areas_num
    FROM urban_areas_view u
    INNER JOIN tiles_in_macro t ON u.tileid = ANY(t.tileids) AND u.type = t.type
    WHERE t.has_one_macro = 1 AND t.type = 'tile05'
    GROUP BY u.tileid, macro

    UNION ALL

    SELECT u.tileid, t.macro, SUM(COALESCE(urban_area_km2, 0)::NUMERIC(13,6)) as urban_area_km2, COUNT(*) as urban_areas_num
    FROM urban_areas_view u
    INNER JOIN tiles_macros_geom t ON u.tileid = t.tileid AND ST_CoveredBy(u.geom, t.tile_macro_geom) AND u.type = t.type
    WHERE t.type = 'tile05' AND t.has_one_macro = 0
    GROUP BY u.tileid, macro
) temp
GROUP BY tileid, macro;
CREATE INDEX ON macro_urban_areas_05x05 (tileid);
CREATE INDEX ON macro_urban_areas_05x05 (macro);

CREATE MATERIALIZED VIEW macro_urban_areas_1x1 AS
SELECT macro, tileid, SUM(urban_area_km2::NUMERIC(13,6)) as urban_area_km2, SUM(urban_areas_num) as urban_areas_num
FROM (
    SELECT u.tileid, t.macro, SUM(COALESCE(urban_area_km2, 0)::NUMERIC(13,6)) as urban_area_km2, COUNT(*) as urban_areas_num
    FROM urban_areas_view u
    INNER JOIN tiles_in_macro t ON u.tileid = ANY(t.tileids) AND u.type = t.type
    WHERE t.has_one_macro = 1 AND t.type = 'tile1'
    GROUP BY u.tileid, macro

    UNION ALL

    SELECT u.tileid, t.macro, SUM(COALESCE(urban_area_km2, 0)::NUMERIC(13,6)) as urban_area_km2, COUNT(*) as urban_areas_num
    FROM urban_areas_view u
    INNER JOIN tiles_macros_geom t ON u.tileid = t.tileid AND ST_CoveredBy(u.geom, t.tile_macro_geom) AND u.type = t.type
    WHERE t.type = 'tile1' AND t.has_one_macro = 0
    GROUP BY u.tileid, macro
) temp
GROUP BY tileid, macro;
CREATE INDEX ON macro_urban_areas_1x1 (tileid);
CREATE INDEX ON macro_urban_areas_1x1 (macro);

## Output CSV

### Summaries

create materialized view summary_tiles_05x05 AS
SELECT i.tileid, i.urban_area_km2, i.urban_areas_num, (i.tile_km2 - COALESCE(nl.noland_km2, 0) - COALESCE(s.steep_km2, 0)::NUMERIC(13,6)) as tile_km2, original_km2
FROM (
    SELECT t.tileid, t.type, SUM(COALESCE(c.urban_area_km2, 0)::NUMERIC(13,6)) as urban_area_km2, COUNT(c.*) as urban_areas_num, t.tile_km2, (ST_AREA(t.geom::geography)/1000000)::NUMERIC(13,6) as original_km2
    FROM tiles_land t
    LEFT JOIN urban_areas_view c on t.tileid = c.tileid AND c.type=t.type
    WHERE t.type = 'tile05'
    GROUP BY t.tileid, t.type, t.tile_km2, original_km2
) i                                            
LEFT JOIN tiles_steep s ON i.tileid = s.tileid AND i.type = s.type
LEFT JOIN tiles_cannoturban nl ON i.tileid = nl.tileid AND i.type = nl.type;

create materialized view summary_tiles_1x1 AS
SELECT i.tileid, i.urban_area_km2, i.urban_areas_num, (i.tile_km2 - COALESCE(nl.noland_km2, 0) - COALESCE(s.steep_km2, 0)::NUMERIC(13,6)) as tile_km2, i.tile_km2 as original_km2
FROM (
    SELECT t.tileid, t.type, SUM(COALESCE(c.urban_area_km2, 0)::NUMERIC(13,6)) as urban_area_km2, COUNT(c.*) as urban_areas_num, t.tile_km2
    FROM tiles_land t
    LEFT JOIN urban_areas_view c on t.tileid = c.tileid AND c.type=t.type
    WHERE t.type = 'tile1'
    GROUP BY t.tileid, t.type, t.tile_km2
) i                                            
LEFT JOIN tiles_steep s ON i.tileid = s.tileid AND i.type = s.type
LEFT JOIN tiles_cannoturban nl ON i.tileid = nl.tileid AND i.type = nl.type;

#### CSV

copy (select tileid, urban_area_km2, urban_areas_num as urban_num, tile_km2, original_km2 from summary_tiles_05x05) TO '/data/nadai/ema/data/generated_files/summary_tiles_05x05.csv' DELIMITER ',' CSV HEADER;

copy (select tileid, urban_area_km2, urban_areas_num as urban_num, tile_km2, original_km2 from summary_tiles_1x1) TO '/data/nadai/ema/data/generated_files/summary_tiles_1x1.csv' DELIMITER ',' CSV HEADER;

gdrive upload --parent '1BzNg_p0QezFufabnOSv35UKg-Xckmrr5' /data/nadai/ema/data/generated_files/summary_tiles_05x05.csv

gdrive upload --parent '1VCb7PWuFe4FgM3ISA5jsANq7BZT9ogTv' /data/nadai/ema/data/generated_files/summary_tiles_1x1.csv

#### SHP

rm /data/nadai/ema/data/generated_files/summary_tiles_05x05.*
ogr2ogr -f "ESRI Shapefile" -t_srs EPSG:4326 /data/nadai/ema/data/generated_files/summary_tiles_05x05.shp PG:"dbname='ema' user='nadai'" -sql "select s.tileid, s.urban_area_km2, s.urban_areas_num as urban_num, s.tile_km2, t.geom, s.urban_area_km2/s.tile_km2::NUMERIC(13,6) as perc_urban from summary_tiles_05x05 s inner join tiles_land t on t.tileid=s.tileid and t.type='tile05'"

rm /data/nadai/ema/data/generated_files/summary_tiles_1x1.*
ogr2ogr -f "ESRI Shapefile" -t_srs EPSG:4326 /data/nadai/ema/data/generated_files/summary_tiles_1x1.shp PG:"dbname='ema' user='nadai'" -sql "select s.tileid, s.urban_area_km2, s.urban_areas_num as urban_num, s.tile_km2, t.geom, s.urban_area_km2/s.tile_km2::NUMERIC(13,6) as perc_urban from summary_tiles_1x1 s inner join tiles_land t on t.tileid=s.tileid and t.type='tile1'"

for f in /data/nadai/ema/data/generated_files/summary_tiles_05x05.*; do gdrive upload --parent '1GaBAOXkAy7bfch0e-2OFmkalKqbKiene' $f; done

for f in /data/nadai/ema/data/generated_files/summary_tiles_1x1.*; do gdrive upload --parent '17ggC3Qm5E0C7ygA6COkr2ty-eCHFntNA' $f; done

### All urban areas per tile, per macro

create materialized view allareas_05x05 AS
SELECT tileid, macro, urban_area_km2, ROUND(ST_X(centroid)::NUMERIC(13,6), 5) as centroid_lon, ROUND(ST_Y(centroid)::NUMERIC(13,6), 5) as centroid_lat
FROM (

    SELECT u.tileid, t.macro, urban_area_km2::NUMERIC(13,6), ST_Centroid(u.geom) as centroid
    FROM urban_areas_view u
    INNER JOIN tiles_in_macro t ON u.tileid = ANY(t.tileids) AND t.type=u.type
    WHERE t.has_one_macro = 1 AND u.type='tile05'

    UNION ALL

    SELECT u.tileid, t.macro, urban_area_km2::NUMERIC(13,6), ST_Centroid(u.geom) as centroid
    FROM urban_areas_view u
    INNER JOIN tiles_macros_geom t ON u.tileid = t.tileid AND t.type=u.type AND ST_CoveredBy(u.geom, t.tile_macro_geom)
    WHERE u.type = 'tile05' AND t.has_one_macro = 0
    
) temp2;

create materialized view allareas_1x1 AS
SELECT tileid, macro, urban_area_km2, ROUND(ST_X(centroid)::NUMERIC(13,6), 5) as centroid_lon, ROUND(ST_Y(centroid)::NUMERIC(13,6), 5) as centroid_lat
FROM (

    SELECT u.tileid, t.macro, urban_area_km2::NUMERIC(13,6), ST_Centroid(u.geom) as centroid
    FROM urban_areas_view u
    INNER JOIN tiles_in_macro t ON u.tileid = ANY(t.tileids) AND t.type=u.type
    WHERE t.has_one_macro = 1 AND u.type='tile1'

    UNION ALL

    SELECT u.tileid, t.macro, urban_area_km2::NUMERIC(13,6), ST_Centroid(u.geom) as centroid
    FROM urban_areas_view u
    INNER JOIN tiles_macros_geom t ON u.tileid = t.tileid AND t.type=u.type AND ST_CoveredBy(u.geom, t.tile_macro_geom)
    WHERE u.type = 'tile1' AND t.has_one_macro = 0
    
) temp2;

#### CSV

rm /data/nadai/ema/data/generated_files/urban_areas_per_tile_per_macro_05x05.csv.gz
psql -U nadai -d ema -c "COPY (select macro, tileid, urban_area_km2, centroid_lon, centroid_lat from allareas_05x05 order by macro, urban_area_km2) TO stdout DELIMITER ',' CSV HEADER" | gzip > /data/nadai/ema/data/generated_files/urban_areas_per_tile_per_macro_05x05.csv.gz

rm /data/nadai/ema/data/generated_files/urban_areas_per_tile_per_macro_1x1.csv.gz
psql -U nadai -d ema -c "COPY (select macro, tileid, urban_area_km2, centroid_lon, centroid_lat from allareas_1x1 order by macro, urban_area_km2) TO stdout DELIMITER ',' CSV HEADER" | gzip > /data/nadai/ema/data/generated_files/urban_areas_per_tile_per_macro_1x1.csv.gz

#### Upload

gdrive upload --parent '1BzNg_p0QezFufabnOSv35UKg-Xckmrr5' /data/nadai/ema/data/generated_files/urban_areas_per_tile_per_macro_05x05.csv.gz

gdrive upload --parent '1VCb7PWuFe4FgM3ISA5jsANq7BZT9ogTv' /data/nadai/ema/data/generated_files/urban_areas_per_tile_per_macro_1x1.csv.gz

### Macros

create materialized view macro_05x05 AS
SELECT macro, tileid, SUM(urban_area_km2::NUMERIC(13,6)) as urban_area_km2, SUM(num_urban) as num_urban, SUM(tile_km2::NUMERIC(13,6)) as tile_km2, tile_macro_geom
FROM (
    SELECT t.macro, t.tileid, COALESCE(u.urban_area_km2, 0) as urban_area_km2, COALESCE(u.urban_areas_num, 0) as num_urban, (t.tile_km2 - COALESCE(c.noland_km2, 0) - COALESCE(s.steep_km2, 0))::NUMERIC(13,6) as tile_km2, t.tile_macro_geom
    FROM tiles_macros_geom t
    LEFT JOIN macro_urban_areas_05x05 u ON t.macro = u.macro AND t.tileid = u.tileid
    LEFT JOIN macro_tiles_steep s ON t.macro = s.macro AND t.tileid = s.tileid
    LEFT JOIN macro_tiles_cannoturban c ON t.macro = c.macro AND t.tileid = c.tileid
    WHERE t.type = 'tile05'
) temp
GROUP BY macro, tileid, tile_macro_geom;

create materialized view macro_1x1 AS
SELECT macro, tileid, SUM(urban_area_km2::NUMERIC(13,6)) as urban_area_km2, SUM(num_urban) as num_urban, SUM(tile_km2::NUMERIC(13,6)) as tile_km2, tile_macro_geom
FROM (
    SELECT t.macro, t.tileid, COALESCE(u.urban_area_km2, 0) as urban_area_km2, COALESCE(u.urban_areas_num, 0) as num_urban, (t.tile_km2 - COALESCE(c.noland_km2, 0) - COALESCE(s.steep_km2, 0))::NUMERIC(13,6) as tile_km2, t.tile_macro_geom
    FROM tiles_macros_geom t
    LEFT JOIN macro_urban_areas_1x1 u ON t.macro = u.macro AND t.tileid = u.tileid
    LEFT JOIN macro_tiles_steep s ON t.macro = s.macro AND t.tileid = s.tileid
    LEFT JOIN macro_tiles_cannoturban c ON t.macro = c.macro AND t.tileid = c.tileid
    WHERE t.type = 'tile1'
) temp
GROUP BY macro, tileid, tile_macro_geom;

#### CSV

copy (select macro, tileid, urban_area_km2, num_urban, tile_km2 from macro_05x05) TO '/data/nadai/ema/data/generated_files/macro_05x05.csv' DELIMITER ',' CSV HEADER;

copy (select macro, tileid, urban_area_km2, num_urban, tile_km2 from macro_1x1) TO '/data/nadai/ema/data/generated_files/macro_1x1.csv' DELIMITER ',' CSV HEADER;

gdrive upload --parent '1P6BcYcO3ltbjelyQcyD2VU4Vpjfv9cg7' /data/nadai/ema/data/generated_files/macro_05x05.csv

gdrive upload --parent '1P6BcYcO3ltbjelyQcyD2VU4Vpjfv9cg7' /data/nadai/ema/data/generated_files/macro_1x1.csv

#### SHP

rm /data/nadai/ema/data/generated_files/shps/macro_05x05.*
ogr2ogr -f "ESRI Shapefile" -t_srs EPSG:4326 /data/nadai/ema/data/generated_files/shps/macro_05x05.shp PG:"dbname='ema' user='nadai'" -sql "select s.macro, s.tileid, s.urban_area_km2, s.num_urban, s.tile_km2, tile_macro_geom as geom, CASE s.tile_km2
   WHEN 0 THEN 0
   ELSE s.urban_area_km2/s.tile_km2::NUMERIC(13,6)
END as perc_urban from macro_05x05 s inner join tiles_land t on t.tileid=s.tileid and t.type='tile05'"

rm /data/nadai/ema/data/generated_files/shps/macro_1x1.*
ogr2ogr -f "ESRI Shapefile" -t_srs EPSG:4326 /data/nadai/ema/data/generated_files/shps/macro_1x1.shp PG:"dbname='ema' user='nadai'" -sql "select s.macro, s.tileid, s.urban_area_km2, s.num_urban, s.tile_km2, tile_macro_geom as geom, CASE s.tile_km2
   WHEN 0 THEN 0
   ELSE s.urban_area_km2/s.tile_km2::NUMERIC(13,6)
END as perc_urban from macro_1x1 s inner join tiles_land t on t.tileid=s.tileid and t.type='tile1'"

upload

for f in /data/nadai/ema/data/generated_files/shps/macro_*; do gdrive upload --parent '1x280dFeDWWFR-hJ39tH48GUeCAVMcoxk' $f; done

## 4 Maps

CREATE MATERIALIZED VIEW tiles_land_without_water AS
SELECT i.tileid, i.type, CASE WHEN i.water_geom IS NULL THEN i.tile_real_geom ELSE ST_Difference(i.tile_real_geom, i.water_geom) END as tile_real_geom
FROM (
    SELECT t.tileid, t.type, ST_Union(w.geom) as water_geom, t.tile_real_geom 
    FROM tiles_land t
    LEFT JOIN water_etsimila w ON ST_Intersects(w.geom, t.tile_real_geom) AND NOT ST_Touches(w.geom, t.tile_real_geom)
    GROUP BY t.tileid, t.type, t.tile_real_geom
) i
WHERE i.type='tile05' OR i.type='tile1';

copy (select tileid, (ST_AREA(geom::geography)/1000000)::NUMERIC(13,6) as total_tile_area from tiles_land WHERE type='tile05') TO '/data/nadai/ema/data/generated_files/filippo_totarea_05x05.csv' DELIMITER ',' CSV HEADER;